/* .w3-main{
    background-color: black;
} */

/* body{
    background-image: url(https://i.pinimg.com/564x/3a/51/af/3a51af1c0b64d4cca860cf6b0453b91b.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    
} */



